<dom-module id="apollo-test">
  <template>
    <style>
.avatar{
  height:100px;
  width: 100px;
  border-radius: 50%;
}
[hidden]{
  display:none;
}
.apollo{
  width:400px;
}
.contents{
  word-break: break-word;
}
    </style>
    <div class="apollo">
      <div class="layout horizontal">
        <iron-a11y-keys id="a11y" target="[[target]]" keys="enter" on-keys-pressed="fetch"></iron-a11y-keys>
        <paper-input class="flex" id="input" label="Github Username" value="[[username]]"></paper-input>
        <paper-button on-tap="fetch">Fetch</paper-button>
      </div>
      <div class="vertical layout center">
        <paper-spinner active="{{loading}}">
        </paper-spinner>
        <div class="vertical layout center center-justified contents" hidden="{{error}}">
          <img src="{{github.avatar_url}}" hidden="{{!github.avatar_url}}" class="avatar"/>

          <!-- a wrapper for the paper items -->
         <paper-listbox selected="0">
         <!-- a selection of zero.. the first item is selected -->

            <!-- first item is for the name -->
            <paper-item hidden="{{!github.name}}">Name: [[github.name]]</paper-item>

            <!-- second one is for the url of the profile -->
            <paper-item hidden="{{!github.html_url}}">Profile:
             <a style="text-decoration: none" href="[[github.html_url]]">  [[github.html_url]]</a>
            </paper-item>

            <!-- the number of public repos -->
            <paper-item hidden="{{!github.public_repos}}">Repos: 
            [[github.public_repos]] </paper-item>
         </paper-listbox>
        </div>
        <div class="vertical layout center" hidden="{{!error}}">
          {{error}}
        </div>
      </div>
    </div>
  </template>
</dom-module>
<script>
import gql from 'graphql-tag';
const fragment = gql`fragment CommonOptions on Github {
          avatar_url,
          html_url,
          name,
}`;
Polymer({
  is:"apollo-test",
  behaviors:[PolymerApolloBehavior],
  properties:{
    github:{
      type:Object,
      value:{}
    },
    username:{
      type:String,
      value:"aruntk",
    },
    loading:Boolean,
    error:String,
    target: {
      type: Object,
      value: function() {
        return this.$.input;
      }
    },
  },

  apollo: {
    // Query with parameters
    github: {
      query: gql`query github($username: String!) {
        github: github(username: $username){
          ...CommonOptions
        },
        arun: github(username: "aruntk"){
          ...CommonOptions
        },
      },
      ${fragment}`,
      options: 'getOptions(username)',

      error: function(error){
        this.set("github",{});
        this.set("error",error.message);
      },
      success: function(result) {
        console.log(result);
      },
      loadingKey: "loading",
      // Additional options here
    },
  },
  getOptions: function(u) {
    return {
      variables: {
        username: u,
      },
    };
  },
  fetch:function(){
    const inp = this.$.input.value;
    this.set("error","");
    this.set("username",inp);
  },
  _showSpinner(n,m){
    return !(n || m);
  }
});
</script>
